ParserClient/Service References/ParserService/ParsingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9001/ParsingService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:9001/ParsingService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ParsingService" />
  <xs:element name="ParseThePages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="urls" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseThePagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ParsingService" minOccurs="0" name="ParseThePagesResult" nillable="true" type="q2:ArrayOfBank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>